*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FDF0E9;
}
hr{
    border: none;
    margin: 0px 100px;
    border-bottom: 1px solid #e2baa4;
}
#side_menu, .close_side_bar,.action_btn svg{
    display: none;
}

@media (max-width:768px){
    hr{
        margin: 0px 50px;
    }
    .logo img{
        width: 60px !important;
        height: auto;
    }
    .header{
        display: flex;
        background: #28293E;
        justify-content: space-between;
        align-items: center;
    }
    .inner_header{
        margin: 5px 50px !important;
    }
    .action_btn a,.intro_imgs{
        display: none !important;
    }
    .side_bar_left{
        width: 100%;
        background-color: #28293e69;
        height: 100%;
        position: fixed;
        right: -100%;
        z-index: 1000;
        top: 0;
        transition: right 0.2s ease-in-out;
    }
    .menu{
        background-color: white;
        height: 100%;
        width: 70% !important;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: -100%;
        transition: right 0.5s ease-in-out;
    }
    .menu ul{
        /* background-color: white; */
        margin: 0px;
        line-height: 50px;
        display: block !important;
    }
    .menu a{
        color: #28293E !important;
    }
    .close_side_bar{
        display: flex;
        width: 35px;
        height: 35px;
        justify-content: right;
        margin-right:20px ;
    }
    .close_side_bar svg{
        display: block;
        width: 35px;
        height: 35px;
    }
    #side_menu:checked ~ .menu, #side_menu:checked~.side_bar_left{
        right: 0px;
    }
    .intro_block{
        display: block !important;
        background-color:#28293E;
        /* width: 100%; */
        height: 100% !important;
        padding: 100px 50px !important;
        
    }
    .intro_msg{
        width: 100% !important;
        font-size: 35px !important;
        align-items: center !important;
    }
    .intro_msg>img{
       display: none ;
    }
    .intro_msg .sub_img{
        background-color: orangered;
        width: 150px !important;
        height: 150px !important;
        position: static;
        overflow: hidden;
        margin: 20px 0px;
    }
    .intro_msg>.sub_img>img{
        width: 100% !important;
        height: 100% !important;
        position: static !important;
        object-fit: cover !important;
        margin-top: 30px;
    }
    .resume_blk,.intro_txt{
        text-align: center;
        width: auto !important;
    }
    .skill_icon{
        margin: 10px !important;
    }
    .action_btn{
        border: none !important;
    }
    .action_btn svg{
        display: block !important;
        width: 35px !important;
        border: none !important;
        height: auto !important;
        color: white !important;
    }
    .img_decor_section{
        display: none;
    }
    .bio{
        margin: 0px !important;
        height: auto !important;
    }
    .bio :first-child{
        text-align: center;
    }
    .flex_container{
        padding: 50px !important;
        position: relative;
    }
    .flex_container div{
        width: 100% !important;
    }
    .xp_lvls{
        margin: 0px 50px !important;
        flex-direction: column;
    }
    .xp_lvls_box{
        width: auto !important;
    }
    .xp_lvls_box:first-child{
        border-radius: 5px 5px 0px 0px !important;
    }
    .xp_lvls_box:last-child{
        border-radius: 0px 0px 5px 5px !important;
    }
    .workflow> .flex_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .workflow_processes h3{
        font-size: 15px;
   }
   .workflow_processes span{
       font-size: 30px;
       margin-right: 30px !important;
   }
    .latest_work>.flex_container{
        flex-direction: column-reverse !important;
    }
    .latest_work .project_description, .latest_work>.flex_container>div{
        margin: 0px;
        height: auto;
    }
    .latest_work a{
        bottom: 0px !important;
        position: absolute;
    }
    .project_img_box{
        margin: 10px 0px !important;
        width: auto;
        height: 200px !important;
    }
    .project_img_box .sub_img{
        display: none;
    }
    .footer{
        margin: 50px !important;
    }

}
.logo img{
    width: 70px;
    height: auto;
}
.header{
    top: 0;
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #28293E;
    justify-content: space-between;
    align-items: center;
    transition: top 0.5s ease-in-out;
}
.inner_header{
    margin: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu{
    width: auto;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px 10px;
    color: white;
}
.menu ul li{
    margin: 0px 20px;
}
.menu a{
    text-decoration: none;
    color: white;
    transition: font-size 0.1s ease-in-out;
}
.menu a:hover{
    font-size: 20px;
    color: #EF6D58;

}
.action_btn{
    border: 1px solid #ffffff;
    border-radius: 10px;  
}
.action_btn a{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}
.intro_block{
    display: flex;
    background-color:#28293E;
    /* width: 100%; */
    height: 400px;
    padding: 200px 100px;
    
}
.intro_msg{
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    width: 50%;
}
.resume_blk a{
    width: auto;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    display: flex;
    background-color: #FDF0E9;
}
.resume_blk{
    display: flex;
    width: 100%;
    justify-content: left;
}
.intro_msg>p{
    color: #EF6D58;
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 15px;
    z-index: 100;
}
.intro_msg>span{
    display: block;
    position: relative;
    z-index: 100;
    margin-bottom: 15px;
}
.intro_msg img{
    width: 100px;
    height: auto;
    position: absolute;
    top: 15px;
    right: 100px;
}
.intro_msg .sub_img{
    display: none;
}
.intro_txt{
    color: #FDF0E9 !important;
    margin-bottom: 30px !important;
    font-size: 15px !important;
}

.intro_imgs{
    width: 50%;
    position: relative;
    display: flex;
}
.decors img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.decor_box{
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 100% 100% 5px 5px;
}
.decor_box img{
    position: absolute;
}
.decor_box1{
    width: 250px;
    height: 320px;
    left: 0px;
    top: -50px;
    z-index: 100;
    overflow: hidden;
    background-color: rgb(255, 230, 0);
}
.decor_box1 img{
    bottom: 0;
    width: 100% !important;
    right: auto !important;
    z-index: 100;
}
.decor_box2{
    bottom: 0;
    right: 50px;
    z-index: 100;
    object-fit: cover;
    background-color: blueviolet;
    
}
.decor_box2 img{
    left: -50px;
    width: 200px;
    top: 30px;
}
.decor_box3{
    width: 300px;
    height: 300px;
    position:  relative !important;
    justify-content: center;
    justify-self: center;
    display: flex;
    margin: auto;
    border-radius: 100%;
    background-color: rgba(86, 86, 107, 0.205);
}

.decor_box4{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    top: 20px;
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #EF6D58;
}
.decor_box4 img{
    width: 50px;
    position: static;
    height: auto;
}
.decor_box5{
    width: 100px;
    height: 100px;
    top: 30px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.decor_box5 img{
    width: 100px;
    position: static;
    height: auto;
}
.decor_box6{
    width: 100px;
    height: 100px;
    bottom: 5px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.decor_box6 img{
    width: 120px;
    position: static;
    height: auto;
}
.decor_box7{
    width: 100px;
    height: 100px;
    top: -100px;
    transform: rotate(-30deg);
    left: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.decor_box7 img{
    width: 100px;
    position: static;
    height: auto;
}
.decor_box8{
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: -30px;
    display: flex;
    transform: rotate(-45deg);
    justify-content: center;
    align-items: center;
    align-content: center;
}
.decor_box8 img{
    width: 70px;
    position: static;
    height: auto;
}
.skills_block{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #FDF0E9;
    overflow: hidden;
    height: 100%;
    padding: 50px 0px 50px 0px;
    text-align: center;
    justify-items: center;
    
}
.skills_block p{
    color: #EF6D58;
    /* font-weight: 700; */
    /* display: none; */
    margin: 20px;
}

.skills_block img{
    width: 100px;
    margin: 0px;
    height: auto;
}
.skill_icon{
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 150px;
    height: 100%;
    margin: 50px;
    box-shadow: 0px 0px 30px #e2baa4;
}
.skill_icons_block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 1 auto;
}
.latest_work{
    margin-top: 100px;
    padding: 50px 0px 50px 0px;
    background-color: #28293E;
    color: white;
    text-align: center;
}
.flex_container{
    display: flex;
    height: 100%;
    padding: 50px 100px;
}
.flex_container div{
    width: 50%; 
}
.flex_container div>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.project_img_box{
    position: relative;
}
.sub_img{
    position: absolute;
    object-fit: contain;
    left: 20px;
    bottom: -50px;
    width: 100px !important;
    height: 100px !important;
    background-color: #391400;
    border-radius: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_img>img{
    object-fit: contain !important;
}
.workflow .project_description{
    margin-left: 0px;
    width: 30%;
}
.workflow_processes{
    margin-top: 50px;
    line-height: 70px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.workflow_processes h3{
     display: flex;
     flex-wrap: wrap;
     align-content: center;
}
.workflow_processes span{
    font-size: 40px;
    margin-right: 50px;
}
.workflow> .flex_container{
    display: flex;
    justify-content: space-between;
}
.project_description{
    line-height: 30px;
    margin-left: 100px;
    text-align: justify;
}
.project_description h1{
    color: #ffff;
    text-align: left;
}

.bio p{
    color: #864040 !important;
}
.project_description a{
    width: 100px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: 500;
    color: #520000;
    background-color: #ffff;
}
.project_description p{
    font-size: 15px;
    color: #b2b4d1;
}
.xp_lvls{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 100px 100px;
    background-color: #FDF0E9;
}
.xp_lvls_box{
    padding: 1em;
    border: 1px solid #dfc1b2;
    width: 100%;
    font-size: 40px;
    color: #391400;
    font-weight: bolder;
}
.xp_lvls_box p{
    margin-top: 20px;
    font-size: 15px;
}
.xp_lvls_box span{
    font-size: 25px;
    font-weight: bolder;
}
.img_decor_section{
    position: relative;
}
.img_decor_section div{
    position: absolute;
}
.img_1{
    bottom: 0;
    right: 0;
    width: 400px !important;
    height: 300px !important;
    z-index: 100;
}
.img_2{
    top: 60px;
    right: 20px;
    z-index: 1;
    width: auto !important;
    height: 150px !important;

}
.img_3{
    top: 50px;
    right: 20px;
    width: 100px !important;
    height: auto !important;
}
.img_4{
    top: 100px;
    left: 40px;
    width: 100px !important;
    height: auto !important;
}
.img_5{
    top: 60px;
    left: 100px;
    background-color: #ffd2cb70;
    width: 350px !important;
    height: 250px !important;
    border-radius: 5px;
}
.project_header{
    background-color: #b2b4d1;
    height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 150px 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
   
    
}
.footer{
    margin:100px;
    background-color: #EF6D58;
    border-radius: 10px;
    height: 300px;
}
